.articles {
	width: 100vw;

	margin-top: 60px;
	margin-bottom: 60px;
	/*&__item {
		max-width: calc(90% - 2 * 15px);
		margin: 0 auto 15px;
		text-align: center;
		line-height: 50px;
	}*/
	&__box {
		max-width: calc(100% - 2 * 15px);
		height: 120px;
		padding: 25px 100px;
		margin-bottom: 30px;
		border-radius: 4px;
		background-color: $almost-white;
		background-repeat: no-repeat;
		background-size: contain;
	}
	&__title {
		max-width: calc(90% - 2 * 15px);
		padding-bottom: 10px;
		font-weight: 700;
		font-size: 14px;
		line-height: 1.14;
		text-align: center;
		text-transform: uppercase;
		color: $almost-black;
	}
	&__text {
		max-width: calc(90% - 2 * 15px);
		margin: 0;
		font-size: 14px;
		text-align: justify;
		line-height: 1.71;
		letter-spacing: 0.03em;
		color: $light-grey;
		padding-bottom: 30px;
	}
}
@media #{$tablet} {
	.articles {
		display: flex;
		justify-content: space-center;
		flex-wrap: wrap;
		gap: 30px;
		&__item {
			min-width: calc(100% / 2 - 2 * 10px);
		}
		&__box {
			max-width: 354px;
		}
		&__text {
			max-width: 354px;
		}
	}
}
/*{
    display: flex;
    justify-content: space-center;
    padding-left: 15px;
    padding-right: 15px;
    flex-wrap: wrap;
  }
  .card {
    margin: 0 15px 15px;
   / Napisz kod pod tym wierszem /
min-width: var(--tablet);
/**/

@media #{$desktop} {
	.articles {
		display: flex;
		width: 1200px;
		margin: 0 auto;
		padding-top: 94px;
		padding-left: 0;
		gap: 30px;

		&__box {
			max-width: 270px;
			height: 120px;
			padding: 25px 100px;
			margin-bottom: 30px;
			border-radius: 4px;
			background-color: $almost-white;
			background-repeat: no-repeat;
			background-size: contain;
		}
		&__title {
			margin: 0;
			padding-bottom: 10px;
			font-weight: 700;
			font-size: 14px;
			line-height: 1.14;
			text-transform: uppercase;
			color: $almost-black;
		}
		&__text {
			margin: 0;
			font-size: 14px;
			line-height: 1.71;
			letter-spacing: 0.03em;
			color: $light-grey;
		}
	}
}
