.articles {
	display: flex;
	width: 100%;
	gap: 30px;
	flex-wrap: wrap;
	text-align: left;
	padding-left: 0;
	@include tablet {
		justify-content: space-center;
	}
	@include desktop {
		max-width: 100%;
		flex-wrap: nowrap;
	}
	&__item {
		@include tablet {
			min-width: calc(100% / 2 - 2 * 10px);
		}
		@include desktop {
			min-width: calc(100% / 4 - 2 * 10px);
		}
	}
	&__box {
		display: flex;
		width: 100%;
		height: 120px;
		padding: 25px 0;
		margin-bottom: 30px;
		border-radius: 4px;
		justify-content: center;
		background-color: $almost-white;
		background-repeat: no-repeat;
		background-size: contain;
		@include tablet {
			max-width: 354px;
		}
		@include desktop {
			max-width: 270px;
		}
	}
	&__title {
		width: 100%;
		padding-bottom: 10px;
		font-weight: 700;
		font-size: 14px;
		line-height: 1.14;
		text-align: center;
		text-transform: uppercase;
		color: $almost-black;
		@include tablet {
			text-align: left;
		}
		@include desktop {
			text-align: left;
		}
	}
	&__text {
		width: 100%;
		margin-top: 10px;
		font-size: 14px;
		text-align: left;
		line-height: 1.71;
		letter-spacing: 0.03em;
		color: $light-grey;
		@include tablet {
			max-width: 354px;
		}
		@include desktop {
			max-width: 270px;
			letter-spacing: 0.03em;
		}
	}
}
/*@media #{$tablet} {
	.articles {
		justify-content: space-center;

		&__item {
			min-width: calc(100% / 2 - 2 * 10px);
		}
		&__box {
			max-width: 354px;
		}
		&__title {
			text-align: left;
		}
		&__text {
			max-width: 354px;
		}
	}
}

@media #{$desktop} {
	.articles {
		max-width: 100%;
		flex-wrap: nowrap;
		&__item {
			min-width: calc(100% / 4 - 2 * 10px);
		}
		&__box {
			max-width: 270px;
		}
		&__text {
			max-width: 270px;
		}
		&__title {
			text-align: left;
		}
		&__text {
			letter-spacing: 0.03em;
		}
	}
}*/
