*,
*::before,
*::after {
	box-sizing: border-box;
	list-style-type: none;
}
body {
	width: 480px;
	min-width: 320px;
	margin-left: auto;
	margin-right: auto;
	font-style: normal;
	color: $almost-black;
	justify-content: center;
	overflow-x: visible;
}
@media screen and (max-width: 320px) {
	body {
		overflow-x: scroll;
	}
}
@media #{$tablet} {
	body {
		width: 768px;
	}
}
@media #{$desktop} {
	body {
		width: 1200px;
	}
}
header {
	max-width: 480px;
}
@media #{$tablet} {
	header {
		max-width: 768px;
	}
}
@media #{$desktop} {
	header {
		width: 1200px;
	}
}
.section {
	padding-top: 60px;
	padding-bottom: 60px;
}
@media #{$desktop} {
	.section {
		padding-top: 94px;
		padding-bottom: 94px;
	}
}
