*,
*::before,
*::after {
	box-sizing: border-box;
	list-style-type: none;
}
* {
	margin: 0;
	padding: 0;
}
body {
	margin: 0 auto;
	font-style: normal;
	color: $almost-black;
	justify-content: center;
	overflow-x: visible;
}
ul {
	list-style: none;
	margin: 0 auto;
}
@media screen and (max-width: 320px) {
	body {
		overflow-x: scroll;
	}
}

header {
	max-width: 480px;
}
@media #{$tablet} {
	header {
		max-width: 768px;
	}
}
@media #{$desktop} {
	header {
		width: 1200px;
	}
}

section {
	width: 100%;
	padding-top: 60px;
	padding-bottom: 60px;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

@media #{$desktop} {
	section {
		padding-top: 94px;
		padding-bottom: 94px;
	}
}
