*,
*::before,
*::after {
	box-sizing: border-box;
	list-style-type: none;
}
* {
	margin: 0;
	padding: 0;
}
body {
	margin: 0 auto;
	font-style: normal;
	color: $almost-black;
	justify-content: center;
	overflow-x: visible;
}
ul {
	list-style: none;
	margin: 0 auto;
}
svg {
	vertical-align: middle;
}
@media screen and (max-width: 320px) {
	body {
		overflow-x: scroll;
	}
}
img {
	display: block;
	width: 100%;
	height: auto;
}

section {
	width: 100%;
}
.section {
	padding-top: 60px;
	padding-bottom: 60px;
	@include desktop {
		padding-top: 94px;
		padding-bottom: 94px;
	}
}
.container {
	margin: 0 auto;
	padding: 0 15px;
}
.container {
	max-width: 480px;
	@include tablet {
		max-width: 768px;
	}
	@include desktop {
		max-width: 1200px;
	}
}
