.mainpage {
	display: flex;
	width: 100%;
	margin: 0 auto;
	background-color: $dark-grey;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: url(../images/backgroundMobile@x1.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: auto;

	@media (min-device-pixel-ratio: 2),
		(-webkit-min-device-pixel-ratio: 2),
		(min-resolution: 192dpi),
		(min-resolution: 2dppx) {
		background-image: url(../images/backgroundMobile@x2.jpg);
	}
	&__shade {
		width: 100%;
		background-color: $shade;
		display: flex;
		padding: 118px 0;
		flex-direction: column;
		align-items: center;
		height: auto;
	}
	&__title {
		font-family: "Roboto";
		max-width: 365px;
		margin: 0 auto;
		font-weight: 900;
		font-size: 26px;
		text-align: center;
		align-items: center;
		line-height: 1.36;
		text-transform: uppercase;
		color: $total-white;
		padding-bottom: 30px;
	}

	&__button {
		align-items: center;
		margin: 0 auto;
		padding: 10px 41px 10px 41px;
		background-color: $brand-color;
		border: $brand-color;
		border-radius: 4px;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
		color: $total-white;
		cursor: pointer;
		font-weight: 700;
		font-size: 16px;
		line-height: 1.88;
	}
}
@media #{$tablet} {
	.mainpage {
		background-image: url(../images/backgroundTablet@x1.jpg);
		@media (min-device-pixel-ratio: 2),
			(-webkit-min-device-pixel-ratio: 2),
			(min-resolution: 192dpi),
			(min-resolution: 2dppx) {
			background-image: url(../images/backgroundTablet@x2.jpg);
		}
	}
}
@media #{$desktop} {
	.mainpage {
		background-image: url(../images/backgroundDesktop@x1.jpg);
		@media (min-device-pixel-ratio: 2),
			(-webkit-min-device-pixel-ratio: 2),
			(min-resolution: 192dpi),
			(min-resolution: 2dppx) {
			background-image: url(../images/backgroundDesktop@x2.jpg);
		}
		&__shade {
			flex-direction: column;
			align-items: center;
			padding: 200px 0;
			height: auto;
		}
		&__title {
			max-width: 696px;
			margin: 0;
			font-weight: 900;
			font-size: 44px;
			text-align: center;
			line-height: 1.36;
			color: $total-white;
		}

		&__button {
			align-items: center;
			margin: auto;
			padding: 10px 41px 10px 41px;
			background-color: $brand-color;
			border: $brand-color;
			border-radius: 4px;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
			color: $total-white;
			cursor: pointer;
			font-weight: 700;
			font-size: 16px;
			line-height: 1.88;
		}
	}
}
