.footer-contact-block {
	display: block;
	margin: 0 auto;
	text-align: center;
	@include desktop {
		display: inline-block;
		text-align: left;
		margin-right: 70px;
	}
	&__logo {
		font-family: "Raleway";
		font-weight: 700;
		font-size: 24px;
		line-height: 1.19;
		color: $total-white;
		letter-spacing: 0.72px;
		padding-bottom: 20px;
		@include desktop {
			font-size: 26px;
			letter-spacing: 0.78px;
		}
	}
	&__logo--highlight {
		color: $brand-color;
	}
	&__address {
		font-style: normal;
		font-size: 14px;
		line-height: 1.71;
		color: $total-white;
		padding-bottom: 8px;
		letter-spacing: 0.42px;
		@include desktop {
			padding-bottom: 9px;
		}
	}
	&__link {
		display: block;
		text-decoration: none;
		font-size: 14px;
		line-height: 1.71;
		color: $middle-grey;
		padding-bottom: 8px;
		letter-spacing: 0.42px;
		transition-property: color;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		@include desktop {
			padding-bottom: 9px;
		}
	}
	&__phonenumber {
		display: block;
		text-decoration: none;
		font-size: 14px;
		line-height: 1.71;
		color: $middle-grey;
		letter-spacing: 0.42px;
		transition-property: color;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}
	&__link:hover,
	&__link:focus,
	&__link:active {
		color: $brand-color;
	}

	&__phonenumber:hover,
	&__phonenumber:focus,
	&__phonenumber:active {
		color: $brand-color;
	}
}

/*@media #{$desktop} {
	.footer-contact-block {
		display: inline-block;
		text-align: left;
		margin-right: 70px;

		&__logo {
			font-size: 26px;
			line-height: 1.19;
			color: $total-white;
			letter-spacing: 0.78px;
		}
		&__address {
			padding-bottom: 9px;
		}
		&__link {
			padding-bottom: 9px;
		}
	}
}*/
