.footer-newsletter-block {
	display: block;
	flex-direction: column;
	margin: 72px 0 94px 0;
	justify-items: center;
	text-align: center;

	&__subtitle {
		font-size: 14px;
		font-weight: 700;
		line-height: 1.17;
		text-transform: uppercase;
		color: $total-white;
		margin: 0 auto;
		padding-bottom: 20px;
	}

	.newsletter-form {
		display: flex;
		flex-direction: column;
		max-width: 100%;
		justify-content: center;
		gap: 12px;
		padding-left: 0;
		align-items: center;
		&__newsletter-email-box {
			width: 100%;
			height: 50px;
			margin: 0;
			padding-left: 16px;
			background-color: $dark-grey;
			border: 1px solid rgba(255, 255, 255, 0.3);
			filter: drop-shadow $shadow;
			border-radius: 4px;
		}

		&__newsletter-email-box input::placeholder {
			font-size: 16px;
			line-height: 1.25;
			align-items: center;
			letter-spacing: 0.03em;
			color: $middle-grey;
		}
	}
	.newsletter-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 200px;
		height: 50px;
		gap: 24px;
		background-color: $brand-color;
		border: $brand-color;
		border-radius: 4px;
		box-shadow: $shadow;
		cursor: pointer;

		&__text {
			margin: 0;
			color: $total-white;
			font-weight: 700;
			font-size: 16px;
			line-height: 1.88;
			align-items: center;
			text-align: center;
			letter-spacing: 0.06em;
		}
		&__append {
			max-width: 24px;
		}
	}
}
@media #{$tablet} {
}
@media #{$desktop} {
	.footer-newsletter-block {
		display: inline-flexbox;
		margin: 72px 0 94px 0;
		width: 570px;
		height: 86px;

		&__subtitle {
			font-size: 14px;
			font-weight: 700;
			line-height: 1.17;
			text-transform: uppercase;
			color: $total-white;
			margin: 0 auto;
			padding-bottom: 20px;
		}

		.newsletter-form {
			display: flex;
			max-width: 100%;
			justify-content: space-between;
			gap: 12px;
			padding-left: 0;

			&__newsletter-email-box {
				display: inline-flex;
				width: 358px;
				height: 50px;
				margin: 0;
				padding: 0;
			}
			&__newsletter-email-box input[type="email"] {
				width: 100%;
				background-color: $dark-grey;
				padding-left: 16px;
				border: 1px solid rgba(255, 255, 255, 0.3);
				filter: drop-shadow $shadow;
				border-radius: 4px;
			}

			&__newsletter-email-box input::placeholder {
				font-size: 16px;
				line-height: 1.25;
				display: flex;
				align-items: center;
				letter-spacing: 0.03em;
				color: $middle-grey;
			}
		}
		.newsletter-btn {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 200px;
			height: 50px;
			gap: 24px;
			background-color: $brand-color;
			border: $brand-color;
			border-radius: 4px;
			box-shadow: $shadow;
			cursor: pointer;

			&__text {
				margin: 0;
				color: $total-white;
				font-weight: 700;
				font-size: 16px;
				line-height: 1.88;
				align-items: center;
				text-align: center;
				letter-spacing: 0.06em;
			}
			&__append {
				max-width: 24px;
			}
		}
	}
}
