.footer-container {
	background-color: $dark-grey;
	width: 100%;
	margin: 0 auto;
	height: auto;
	padding-top: 60px;
	padding-bottom: 60px;
}
.page-footer__blocks {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	justify-content: center;
}
@media #{$tablet} {
	.page-footer__blocks {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}
@media #{$desktop} {
	.page-footer__blocks {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}
