.footer-join-us-block {
	display: block;
	margin: 0 auto;
	text-align: center;
	padding-top: 60px;
	@include tablet {
		padding-top: 5px;
	}
	@include desktop {
		padding-top: 12px;
	}
	&__subtitle {
		font-family: "Roboto";
		font-size: 14px;
		font-weight: 700;
		line-height: 1.17;
		letter-spacing: 0.42px;
		text-transform: uppercase;
		color: $total-white;
		padding-bottom: 20px;
		@include desktop {
			text-align: left;
		}
	}
	&__social-boxes {
		display: flex;
		margin: 0 auto;
		justify-content: center;
		gap: 10px;
	}
	&__social-icons {
		width: 44px;
		height: 44px;
		background-color: $footer-icon;
		border-radius: 50%;
		cursor: pointer;
		transition-property: background-color, fill;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		&:hover,
		&:focus {
			background-color: $brand-color;
		}
	}
	&__socialmedia {
		margin: 12px;
		fill: $total-white;
	}

	&__social-icons:hover > &__socialmedia,
	&__social-icons:focus > &__socialmedia {
		fill: $total-white;
	}
}
/*@media #{$tablet} {
	.footer-join-us-block {
		padding-top: 5px;
	}
}
@media #{$desktop} {
	.footer-join-us-block {
		padding-top: 12px;
		&__subtitle {
			text-align: left;
		}
	}
}*/
