.footer-newsletter-block {
	display: block;
	margin: 0 auto;
	padding-top: 60px;
	justify-items: center;
	text-align: center;

	&__subtitle {
		font-family: "Roboto";
		font-size: 14px;
		font-weight: 700;
		line-height: 1.17;
		letter-spacing: 0.42px;
		text-transform: uppercase;
		color: $total-white;
		padding-bottom: 20px;
	}

	.newsletter-form {
		display: flex;
		flex-direction: column;
		max-width: 100%;
		justify-content: center;
		align-items: center;
		gap: 20px;
		&__newsletter-email-box {
			width: 450px;
			height: 50px;
			padding-left: 16px;
			background-color: $dark-grey;
			border: 1px solid rgba(255, 255, 255, 0.3);
			filter: drop-shadow $shadow;
			border-radius: 4px;
		}

		&__newsletter-email-box input::placeholder {
			font-family: "Roboto";
			font-size: 16px;
			line-height: 1.25;
			letter-spacing: 0.48px;
			color: $middle-grey;
		}
	}
	.newsletter-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 200px;
		height: 50px;
		gap: 24px;
		background-color: $brand-color;
		border: $brand-color;
		border-radius: 4px;
		box-shadow: $shadow;
		cursor: pointer;

		&__text {
			font-family: "Roboto";
			color: $total-white;
			font-weight: 700;
			font-size: 16px;
			line-height: 1.88;
			text-align: center;
			letter-spacing: 0.96px;
		}
		&__append {
			max-width: 24px;
		}
	}
}

@media #{$desktop} {
	.footer-newsletter-block {
		padding-top: 12px;
		&__subtitle {
			text-align: left;
		}
		.newsletter-form {
			display: flex;
			flex-direction: row;
			gap: 12px;
			&__newsletter-email-box {
				width: 358px;
			}
			&__newsletter-email-box input::placeholder {
				font-size: 16px;
				line-height: 1.25;
				display: flex;
				align-items: center;
				letter-spacing: 0.03em;
				color: $middle-grey;
			}
		}
	}
}
