.page-header {
	width: 100%;
	height: auto;
	margin: 0 auto;

	&__blocks {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-top: 16px;
		padding-bottom: 16px;
		border-bottom: 1px solid $almost-grey;
	}
	&__left-side {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		text-align: justify;
	}
	.logo {
		padding: 15px 0;
		display: inline-block;
		color: $total-black;
		font-family: "Raleway";
		font-weight: 700;
		font-size: 24px;
		line-height: 1.19;
		letter-spacing: 0.72px;
		text-decoration: none;
		&__style {
			color: $brand-color;
		}
	}
	.menu-toggle {
		display: inline-block;
		fill: $total-black;
		background-color: transparent;
		border: none;

		&:focus,
		&:hover {
			fill: $brand-color;
		}
	}

	@media (max-width: 767px) {
		.main-nav {
			display: none;
		}
	}
	@media (max-width: 767px) {
		.contacts {
			display: none;
		}
	}
}
@media (min-width: 481px) {
	.page-header .menu-toggle {
		display: none;
	}
}

@media #{$tablet} {
	.page-header {
		&__blocks {
			padding: 15px 0;
			justify-content: space-between;
			align-items: center;
		}
		&__left-side {
			gap: 83px;
		}
		&__contacts {
			display: block;
			margin-right: 0;
		}
		.main-nav {
			display: block;
			height: 100%;
			padding-top: 32px;
			&__list {
				display: flex;
				gap: 60px;
				justify-content: space-around;
				align-content: center;
				list-style-type: none;
			}

			&__link {
				display: inline-block;
				font-family: "Roboto";
				font-weight: 500;
				font-size: 14px;
				line-height: 1.14;
				letter-spacing: 0.28px;
				color: $almost-black;
				padding-bottom: 28px;
				text-decoration: none;
				transition-property: color;
				transition-duration: 250ms;
				transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
			}

			&__link:hover,
			&__link:focus,
			&__link:active {
				color: $brand-color;
			}

			&__list .is-active::after {
				content: "";
				display: block;
				width: auto;
				height: 4px;
				border-radius: 2px;
				background-color: $brand-color;
			}
		}
		.contacts {
			display: flex;
			flex-direction: column;
			align-content: center;
			gap: 10px;
			text-align: left;

			&__email-link {
				font-size: 12px;
				font-weight: 500;
				color: $light-grey;
				letter-spacing: 0.24px;
				text-decoration: none;
				cursor: pointer;
				transition-property: color;
				transition-duration: 250ms;
				transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
			}
			&__email-link:hover,
			&__email-link:focus {
				color: $brand-color;
			}
			&__email-link-icon {
				size: calc(width-2px), (height-2px);
				max-width: 14px;
				margin-right: 8px;
				fill: currentColor;
				cursor: pointer;
				transition-property: color;
				transition-duration: 250ms;
				transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
			}
			&__phonenumber {
				font-size: 12px;
				font-weight: 500;
				color: $light-grey;
				letter-spacing: 0.24px;
				text-decoration: none;
				cursor: pointer;
				transition-property: color;
				transition-duration: 250ms;
				transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
			}
			&__phonenumber-icon {
				size: calc(width-2px), (height-2px);
				max-width: 10px;
				fill: currentColor;
				cursor: pointer;
				transition-property: color;
				transition-duration: 250ms;
				transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
			}
			&__phonenumber:hover,
			&__phonenumber:focus,
			&__phonenumber:active {
				color: $brand-color;
			}
		}
	}
}
@media #{$desktop} {
	.page-header {
		&__blocks {
			padding: 0;
			justify-content: space-between;
			align-items: center;
		}
		&__left-side {
			gap: 93px;
		}
		.logo {
			font-size: 26px;
		}
		&__contacts {
			display: block;
			margin-right: 0;
		}
		.main-nav {
			display: block;
			height: 100%;
			padding-top: 32px;
			&__list {
				display: flex;
				gap: 46px;
				justify-content: space-around;
				align-content: center;
				list-style-type: none;
			}

			&__link {
				display: inline-block;
				font-family: "Roboto";
				font-weight: 500;
				font-size: 14px;
				line-height: 1.14;
				letter-spacing: 0.28px;
				color: $almost-black;
				padding-bottom: 28px;
				text-decoration: none;
				transition-property: color;
				transition-duration: 250ms;
				transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
			}

			&__link:hover,
			&__link:focus,
			&__link:active {
				color: $brand-color;
			}

			&__list .is-active::after {
				content: "";
				display: block;
				width: auto;
				height: 4px;
				border-radius: 2px;
				background-color: $brand-color;
			}
		}
		.contacts {
			display: flex;
			flex-direction: row;
			align-content: center;
			gap: 30px;
			text-align: left;

			&__email-link {
				font-size: 12px;
				font-weight: 500;
				color: $light-grey;
				letter-spacing: 0.24px;
				text-decoration: none;
				cursor: pointer;
				transition-property: color;
				transition-duration: 250ms;
				transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
			}
			&__email-link:hover,
			&__email-link:focus {
				color: $brand-color;
			}
			&__email-link-icon {
				size: calc(width-2px), (height-2px);
				max-width: 14px;
				margin-right: 8px;
				fill: currentColor;
				cursor: pointer;
				transition-property: color;
				transition-duration: 250ms;
				transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
			}
			&__phonenumber {
				font-size: 12px;
				font-weight: 500;
				color: $light-grey;
				letter-spacing: 0.24px;
				text-decoration: none;
				cursor: pointer;
				transition-property: color;
				transition-duration: 250ms;
				transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
			}
			&__phonenumber-icon {
				size: calc(width-2px), (height-2px);
				max-width: 10px;
				fill: currentColor;
				cursor: pointer;
				transition-property: color;
				transition-duration: 250ms;
				transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
			}
			&__phonenumber:hover,
			&__phonenumber:focus,
			&__phonenumber:active {
				color: $brand-color;
			}
		}
	}
}
