.team {
	background-color: $almost-white;
	width: 100%;
	gap: 30px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	@include tablet {
		justify-content: space-center;
	}
	@include desktop {
		background-color: $almost-white;
		width: 1200px;
		margin: 0 auto;
	}

	&__subtitle {
		width: 100%;
		font-weight: 700;
		font-size: 28px;
		line-height: 1.17;
		text-align: center;
		color: $almost-black;
		padding-bottom: 50px;
		margin: 0;
		@include desktop {
			font-size: 36px;
		}
	}
	&__members {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
		justify-content: center;
		gap: 30px;
		padding-left: 0;
		@include tablet {
			min-width: calc(100% / 2 - 2 * 15px);
		}
	}
}
.team-part {
	background-color: $total-white;
	margin: 0 auto;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	@include desktop {
		width: 270px;
		height: 428px;
	}
	&__photo {
		display: block;
		width: 100%;
		height: auto;
		@media (-webkit-min-device-pixel-ratio: 2),
			(min-resolution: 192dpi),
			(min-resolution: 2dppx) {
			background: url(../images/team/member1Mobile@x2.jpg);
			background: url(../images/team/member2Mobile@x2.jpg);
			background: url(../images/team/member3Mobile@x2.jpg);
			background: url(../images/team/member4Mobile@x2.jpg);
		}
		@include tablet {
			@media (-webkit-min-device-pixel-ratio: 2),
				(min-resolution: 192dpi),
				(min-resolution: 2dppx) {
				background: url(../images/team/member1Tablet@x2.jpg);
				background: url(../images/team/member2Tablet@x2.jpg);
				background: url(../images/team/member3Tablet@x2.jpg);
				background: url(../images/team/member4Tablet@x2.jpg);
			}
		}
		@include desktop {
			@media (-webkit-min-device-pixel-ratio: 2),
				(min-resolution: 192dpi),
				(min-resolution: 2dppx) {
				background: url(../images/team/member1Desktop@x2.jpg);
				background: url(../images/team/member2Desktop@x2.jpg);
				background: url(../images/team/member3Desktop@x2.jpg);
				background: url(../images/team/member4Desktop@x2.jpg);
			}
		}
	}
	&__name {
		font-weight: 500;
		font-size: 16px;
		line-height: 1.19;
		color: $almost-black;
		margin: 0 auto;
		padding-top: 30px;
		padding-bottom: 10px;
		text-align: center;
	}
	&__position {
		font-weight: 400;
		font-size: 16px;
		line-height: 1.19;
		color: $light-grey;
		text-align: center;
		margin: 0 auto;
		padding-bottom: 16px;
	}
	&__social-boxes {
		display: flex;
		margin: auto;
		padding-bottom: 16px;
		max-width: 206px;
		max-height: 56px;
		justify-content: center;
		gap: 10px;
		@include desktop {
			margin-bottom: 18px;
			padding-bottom: 0;
			justify-content: space-around;
		}
	}
	&__social-icons {
		width: 44px;
		height: 44px;
		border-radius: 50%;
		cursor: pointer;
		transition-property: background-color, fill;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}
	&__socialmedia {
		margin: 12px;
		fill: $icon-border;
	}
	&__social-icons:hover,
	&__social-icons:focus {
		background-color: $brand-color;
	}
	&__social-icons:hover > &__socialmedia,
	&__social-icons:focus > &__socialmedia {
		fill: $total-white;
	}
}
/*@media #{$tablet} {
	.team {
		display: flex;
		justify-content: space-center;
		flex-wrap: wrap;
		gap: 30px;

		&__members {
			min-width: calc(100% / 2 - 2 * 15px);
		}
	}
	.team-part {
		&__photo {
			@media (-webkit-min-device-pixel-ratio: 2),
				(min-resolution: 192dpi),
				(min-resolution: 2dppx) {
				background: url(../images/team/member1Tablet@x2.jpg);
				background: url(../images/team/member2Tablet@x2.jpg);
				background: url(../images/team/member3Tablet@x2.jpg);
				background: url(../images/team/member4Tablet@x2.jpg);
			}
		}
	}
}

@media #{$desktop} {
	.team {
		background-color: $almost-white;
		width: 1200px;
		margin: 0 auto;

		&__subtitle {
			font-weight: 700;
			font-size: 36px;
			line-height: 1.17;
			text-align: center;
			color: $almost-black;
			padding-bottom: 50px;
			margin: 0;
		}
		&__members {
			display: flex;
			margin: 0 auto;
			width: 100%;
			justify-content: center;
			gap: 30px;
			padding-left: 0;
		}
	}
	.team-part {
		background-color: $total-white;
		margin: 0 auto;
		width: 270px;
		height: 428px;
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
			0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
		border-radius: 0px 0px 4px 4px;
		&__photo {
			@media (-webkit-min-device-pixel-ratio: 2),
				(min-resolution: 192dpi),
				(min-resolution: 2dppx) {
				background: url(../images/team/member1Desktop@x2.jpg);
				background: url(../images/team/member2Desktop@x2.jpg);
				background: url(../images/team/member3Desktop@x2.jpg);
				background: url(../images/team/member4Desktop@x2.jpg);
			}
		}
		&__name {
			font-weight: 500;
			font-size: 16px;
			line-height: 1.19;
			color: $almost-black;
			margin: 0 auto;
			padding-top: 30px;
			padding-bottom: 10px;
			text-align: center;
		}
		&__position {
			font-size: 16px;
			line-height: 1.19;
			color: $light-grey;
			text-align: center;
			margin: 0 auto;
			padding-bottom: 16px;
		}
		&__social-boxes {
			display: flex;
			margin: auto;
			margin-bottom: 18px;
			padding-bottom: 0;
			max-width: 206px;
			max-height: 56px;
			justify-content: space-around;
			gap: 10px;
		}
		&__social-icons {
			width: 44px;
			height: 44px;
			border-radius: 50%;
			cursor: pointer;
			transition-property: background-color, fill;
			transition-duration: 250ms;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		}
		&__socialmedia {
			margin: 12px;
			fill: $icon-border;
		}
		&__social-icons:hover,
		&__social-icons:focus {
			background-color: $brand-color;
		}
		&__social-icons:hover > &__socialmedia,
		&__social-icons:focus > &__socialmedia {
			fill: $total-white;
		}
	}
}*/
