@media (max-width: 1199px) {
	.whatwedo,
	.wedo-box {
		display: none;
	}
}
@include desktop {
	.whatwedo {
		width: 100%;
		padding-bottom: 94px;
		&__list {
			display: flex;
			margin: 0 auto;

			justify-content: center;
			gap: 30px;
			padding-left: 0;
		}
		&__subtitle {
			font-weight: 700;
			font-size: 36px;
			line-height: 1.17;
			text-align: center;
			color: var(--almost-black);
			padding-bottom: 50px;
			margin: 0;
		}
	}
	.wedo-box {
		position: relative;
		margin: 0;
		top: 0;
		overflow: hidden;
		@media (-webkit-min-device-pixel-ratio: 2),
			(min-resolution: 192dpi),
			(min-resolution: 2dppx) {
			background: url(../images/whatwedo/computerDesktop@x2.jpg);
			background: url(../images/whatwedo/mobileDesktop@x2.jpg);
			background: url(../images/whatwedo/graficDesktop@x2.jpg);
		}
		& > &__text {
			position: absolute;
			width: 370px;
			height: 70px;
			font-style: normal;
			font-weight: 700;
			font-size: 14px;
			line-height: 16px;
			text-align: center;
			letter-spacing: 0.03em;
			text-transform: uppercase;
			color: $total-white;
			background-color: rgba(47, 48, 58, 0.8);
			top: 224px;
			left: 0;
			bottom: 0;
			margin: 0;
			padding-top: 27px;
		}
	}
}
