$fontFamily: '"Roboto", "Raleway", sans-serif';
$brand-color: #2196f3;
$almost-black: #212121;
$total-black: #000000;
$total-white: #ffffff;
$light-grey: #757575;
$dark-grey: #2f303a;
$almost-white: #f5f4fa;
$middle-grey: rgba(255, 255, 255, 0.6);
$almost-grey: #ececec;
$for-border: #eeeeee;
$icon-border: #afb1b8;
$footer-icon: rgba(255, 255, 255, 0.1);
$shade: rgba(47, 48, 58, 0.4);
$shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));

/*tutat też wprowadzamy przesjcia np wartość dla transition*/
$tablet: "(min-width:768px) and (max-width:1199px)";
$desktop: "(min-width:1200px)";
